In [2]:
import pandas as pd
import re
import numpy as np

In [3]:
clickstream_df = pd.read_csv('data/feature_clickstream.csv')
feature_attributtes_df = pd.read_csv('data/features_attributes.csv')
feature_financials_df = pd.read_csv('data/features_financials.csv')
lms_loan_daily_df = pd.read_csv('data/lms_loan_daily.csv')

In [4]:
clickstream_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215376 entries, 0 to 215375
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   fe_1           215376 non-null  int64
 1   fe_2           215376 non-null  int64
 2   fe_3           215376 non-null  int64
 3   fe_4           215376 non-null  int64
 4   fe_5           215376 non-null  int64
 5   fe_6           215376 non-null  int64
 6   fe_7           215376 non-null  int64
 7   fe_8           215376 non-null  int64
 8   fe_9           215376 non-null  int64
 9   fe_10          215376 non-null  int64
 10  fe_11          215376 non-null  int64
 11  fe_12          215376 non-null  int64
 12  fe_13          215376 non-null  int64
 13  fe_14          215376 non-null  int64
 14  fe_15          215376 non-null  int64
 15  fe_16          215376 non-null  int64
 16  fe_17          215376 non-null  int64
 17  fe_18          215376 non-null  int64
 18  fe_19          215376 non-null  int64
 19  fe_20          215376 non-null  int64
 20  Customer_ID    215376 non-null  object
 21  snapshot_date  215376 non-null  object
dtypes: int64(20), object(2)
memory usage: 36.2+ MB

In [5]:
feature_financials_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12500 entries, 0 to 12499
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_ID               12500 non-null  object
 1   Annual_Income             12500 non-null  object
 2   Monthly_Inhand_Salary     12500 non-null  float64
 3   Num_Bank_Accounts         12500 non-null  int64
 4   Num_Credit_Card           12500 non-null  int64
 5   Interest_Rate             12500 non-null  int64
 6   Num_of_Loan               12500 non-null  object
 7   Type_of_Loan              11074 non-null  object
 8   Delay_from_due_date       12500 non-null  int64
 9   Num_of_Delayed_Payment    12500 non-null  object
 10  Changed_Credit_Limit      12500 non-null  object
 11  Num_Credit_Inquiries      12500 non-null  int64
 12  Credit_Mix                12500 non-null  object
 13  Outstanding_Debt          12500 non-null  object
 14  Credit_Utilization_Ratio  12500 non-null  float64
 15  Credit_History_Age        12500 non-null  object
 16  Payment_of_Min_Amount     12500 non-null  object
 17  Total_EMI_per_month       12500 non-null  float64
 18  Amount_invested_monthly   12500 non-null  object
 19  Payment_Behaviour         12500 non-null  object
 20  Monthly_Balance           12500 non-null  object
 21  snapshot_date             12500 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 2.1+ MB

In [6]:
lms_loan_daily_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137500 entries, 0 to 137499
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   loan_id          137500 non-null  object
 1   Customer_ID      137500 non-null  object
 2   loan_start_date  137500 non-null  object
 3   tenure           137500 non-null  int64
 4   installment_num  137500 non-null  int64
 5   loan_amt         137500 non-null  int64
 6   due_amt          137500 non-null  float64
 7   paid_amt         137500 non-null  float64
 8   overdue_amt      137500 non-null  float64
 9   balance          137500 non-null  float64
 10  snapshot_date    137500 non-null  object
dtypes: float64(4), int64(3), object(4)
memory usage: 11.5+ MB

## Preprocess Feature Attributes

In [7]:
def process_age(age):
    # remove '_' 
    if pd.notna(age) and '_' in str(age):
        age = str(age).replace('_', '')
    # oldest recorded age is 115 according to BBC https://www.bbc.com/news/articles/cwy0zxzpdd4o
    if pd.notna(age) and int(age) > 115:
        return np.nan
    elif pd.notna(age) and int(age) < 1:
        return np.nan
    return age

def process_feature_attributes(input_df):
    df = input_df.copy()
    df['snapshot_date'] = pd.to_datetime(df['snapshot_date'], errors='coerce')
    df['Occupation'] = df['Occupation'].astype('category')
    pattern = r'^\d{3}-\d{2}-\d{4}$'
    df['SSN'] = df['SSN'].apply(lambda x: x if pd.notna(x) and re.match(pattern, x) else np.nan)
    df['Age'] = df['Age'].apply(process_age)
    df_cleaned = df.dropna(subset=['Age'])
    df_cleaned.loc[:,'Age'] = df_cleaned['Age'].apply(int)
    return df_cleaned.dropna()

In [8]:
cleaned_feature_attributtes_df = process_feature_attributes(feature_attributtes_df)
cleaned_feature_attributtes_df.head()

  Customer_ID            Name Age          SSN  Occupation snapshot_date
0  CUS_0x1000  Alistair Barrf  18  913-74-1218      Lawyer    2023-05-01
1  CUS_0x1009          Arunah  26  063-67-6938    Mechanic    2025-01-01
3  CUS_0x1011       Schneyerh  44  793-05-8223      Doctor    2023-11-01
4  CUS_0x1013        Cameront  44  930-49-9615    Mechanic    2023-12-01
5  CUS_0x1015         Holtono  27  810-97-7024  Journalist    2023-08-01

## Preprocess Feature Financials

In [19]:
def process_income(income):
    # remove '_' 
    if pd.notna(income) and '_' in str(income):
        income = str(income).replace('_', '')
    return round(float(income),2)

def process_number_loan(loan):
    if pd.isna(loan):
        return np.nan
    loan_cleaned = str(loan).replace('_', '')
    if not loan_cleaned.isdigit():
        return np.nan
    loan_int = int(loan_cleaned)
    if loan_int < 0:
        return np.nan
    return loan_int

def process_feature_financials_df(input_df):
    df = input_df.copy()
    df['Annual_Income'] = df['Annual_Income'].apply(process_income)
    df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].apply(process_income)
    df = df[df['Num_Bank_Accounts'] >= 0]
    df['Num_of_Loan'] = df['Num_of_Loan'].apply(process_number_loan)
    df_cleaned = df.dropna(subset=['Num_of_Loan']).copy()
    df_cleaned['Type_of_Loan'] = df_cleaned['Type_of_Loan'].str.strip()
    df_cleaned['Type_of_Loan'] = df_cleaned['Type_of_Loan'].str.replace(r',\s*and\s*', ',', regex=True)
    df_split_columns = df_cleaned['Type_of_Loan'].str.split(',', expand=True)
    df_split_columns.columns = [f'Type_of_Loan_{i+1}' for i in range(df_split_columns.shape[1])]
    df_cleaned = pd.concat([df_cleaned, df_split_columns], axis=1)
    for col in df_cleaned.columns:
        print(col)
        print(df_cleaned[col].unique())
        print("*"*100)
    # display(df_cleaned.head())

In [20]:
process_feature_financials_df(feature_financials_df)

Customer_ID
['CUS_0x1000' 'CUS_0x1009' 'CUS_0x100b' ... 'CUS_0xff6' 'CUS_0xffc'
 'CUS_0xffd']
****************************************************************************************************
Annual_Income
[ 30625.94  52312.68 113781.39 ... 117639.92  60877.17  41398.44]
****************************************************************************************************
Monthly_Inhand_Salary
[2706.16 4250.39 9549.78 ... 9727.33 5218.1  3749.87]
****************************************************************************************************
Num_Bank_Accounts
[   6    1    3    7    2    5    8    4    0   10    9  312  933  162
  955 1075 1275 1279 1201  882  334  689  791 1355  794 1712 1605  271
  611 1190  512 1413 1483  805 1320 1741   57  224  196  307  587 1169
 1231  560 1434  848  374  330 1277  670 1540 1067  485  588 1574  210
  983  489   28  823 1070  555 1102  535  813  795 1665 1076  194 1213
 1756 1662 1645  275 1291  511  809  888  229  427  854   11  649 1240
  980  528   64  331 1595  627  340  916 1426 1377  713 1747 1069 1308
 1650  885  832 1564 1364  203 1065  122  803 1122  182  179 1628 1089
  527 1733 1558  239  637 1197 1480  654  979 1436 1363  701  272 1164
  565 1530 1051  356  310 1731  858  850  718  161  830  722 1654  129
 1647   53  821  720  903 1155  466  386  549  833 1430  514 1300 1568
  918   82  160 1257  313  216 1048   50 1083  796]
****************************************************************************************************
Num_Credit_Card
[   5    4    3    7    6    8   10    9  846    2    1  726 1375  547
  564  723  911  259  680  859  543  133 1194 1029  831  769  541   11
 1407  961 1499  107    0   52  169   25  799  960  191  591  563 1498
  403  446 1356  883  625  232 1072 1426 1131 1207  512 1130 1196 1093
  854  768  863  294   21  183  858  654 1141  968  917   86  110  171
  972 1456  100  129  615 1307  664 1123 1328 1477  914  888  440  670
 1067  879  329  131  988 1467  696 1129 1250  219 1166  148  517 1104
  194  829  180 1163 1226  648 1493 1381   70 1268 1122  199  837  662
 1308  695 1181  779 1458  426  106  210  747  253  492  470   82  366
  215  637 1349   43 1325  461 1206 1452 1441  494 1357 1262  910 1269
  757  728  579  516 1125 1386 1420 1110  958   62 1414 1180  411  729
 1229  948  734  878  992   51  553   75  340  249 1281   97  300  158
  467  725   48 1215 1005  360  535 1069  619  237  291  896   71  332
  660  201  551 1395  946 1413  399 1172 1267  915  487  126 1153  224
   65  498 1191  782 1055 1275   35 1092 1084  825  620 1299  333  982
 1106   38  275  458  658 1436   77 1189 1276 1374  147  520 1453 1223
  874  472  284  391 1450  856 1164  238  732 1155  412 1103  200 1018
 1052 1120 1224  524 1292 1497 1246  752 1235  570  303  639  313  528
 1371  898  697 1470  336  501   54 1479  310  595  119 1216 1358  657
 1101  884  870  192 1213  477   57 1238  212 1108]
****************************************************************************************************
Interest_Rate
[  27   17    1    6   16   23    9   11    2   10   30   26    5   18
   14    4   24    8   15   21    7   19   31   34   13   20   33   28
   32   29 1508   12   25    3   22  498 4041 5240  224 1169 5059  422
 4985 5773  288 5424 3813 2711 4478 2875 4962 4254 5663 2398 2674 5616
  207 2865 1292 2577 1922 1663 5774 2299  262 4344 3043 2851 1313 1091
  926  356 2724 3400  954 4586  981 1708  890 5024 1106 1172 4195 2660
  935  570 1884  450 5633 2417 3048  286 5709 5264 5111  613 1002 2620
 3604 2993 5272 2037 2654 5277 1173 4792 2648 5114 1661 2025 1293  170
  955 2583 1626 4689 3647 1439 4033  948 5469 3749 3801  608 1965 2828
  835 1232  750  718 3110 3214 2621 2330 2630 2535  629 5364 4446 2478
 4235 1550 4349 4751 4272  642  418 3030 2735  751 3970 2915 4000 4257
 4026 2626 4831 4396 5124 2891 2366 4842  774 5751 1044 4255 2723 1010
 2348 4578 1253 1970 5722 5485 3139  888  648 5199  100 3257  713 3184
  318  781 3032 2565 3009 4759 1478  426 2866  328 4363 4321 1729  826
  917 2173 4456 4491 3065 4230 4613  504 4223 5789  115 3089  106 2431
  316 2337  887 5285 1275 3816 1347  101 4652 1617 1325 3664  889 4800
  332 5615 3129 2997 5147 5133 5371 4561 4043  870  854  443 4140  334
 1060 2023  816 2061  377 5201 2127 2869 4544  268   99  482 3223 2831
 5521  990 3887  279 5198 1459 3921  757 3909 3433 4253 3017 5241 1688
  348 4828 4264 1780 1337 4376 4034 1655 2701 2874 2696  107 1272 4796
 2616  940 4614 5473 3868 1641 4892]
****************************************************************************************************
Num_of_Loan
[2.000e+00 4.000e+00 0.000e+00 3.000e+00 8.000e+00 1.000e+00 9.000e+00
 7.000e+00 6.000e+00 5.000e+00 1.190e+02 6.140e+02 9.660e+02 5.200e+02
 5.500e+01 1.014e+03 2.850e+02 1.412e+03 2.370e+02 3.300e+01 1.384e+03
 4.390e+02 1.053e+03 9.450e+02 6.500e+01 7.810e+02 1.030e+02 2.510e+02
 2.700e+01 9.990e+02 1.800e+01 7.990e+02 1.433e+03 4.380e+02 3.100e+01
 8.600e+02 1.137e+03 1.181e+03 4.040e+02 1.348e+03 1.182e+03 1.257e+03
 1.085e+03 1.480e+03 2.270e+02 1.393e+03 1.720e+02 1.091e+03 8.700e+01
 9.170e+02 1.430e+03 4.970e+02 1.495e+03 3.320e+02 1.920e+02 3.870e+02
 1.860e+02 1.320e+03 1.159e+03 4.630e+02 1.478e+03 1.460e+02 7.850e+02
 1.171e+03 4.550e+02 6.990e+02 3.650e+02 7.770e+02 1.127e+03 5.800e+01
 4.200e+02 8.300e+01 7.950e+02 1.074e+03 1.070e+03 6.530e+02]
****************************************************************************************************
Type_of_Loan
['Credit-Builder Loan,Home Equity Loan'
 'Not Specified, Home Equity Loan, Credit-Builder Loan,Payday Loan' nan
 ...
 'Not Specified, Student Loan, Student Loan, Credit-Builder Loan,Auto Loan'
 'Credit-Builder Loan, Payday Loan, Not Specified, Student Loan, Student Loan, Home Equity Loan, Home Equity Loan,Home Equity Loan'
 'Auto Loan, Payday Loan, Payday Loan, Mortgage Loan, Payday Loan,Home Equity Loan']
****************************************************************************************************
Delay_from_due_date
[57  5 14 27 12  8 19  0  6 24 13 28 50  1  9 30 16  3 10 15 18 25 35 26
 59 37 43 55 38 52 23 44 36 61 42  7  4 29 22 11 39 47 21 54 60 20 17 62
 -1 33  2 58 46 56 41 51 31 34 45 40 48 -4 32 53 49 -3 66 -2 65 67 -5 63
 64]
****************************************************************************************************
Num_of_Delayed_Payment
['26' '18' '8' '13' '9' '22' '5' '15' '17' '4' '6' '19' '11' '21' '14' '7'
 '10' '20' '12' '1' '3' '23' '18_' '24' '0' '25' '2' '16' '20_' '-2' '-1'
 '0_' '27' '4106' '3951' '9_' '19_' '28' '-3' '15_' '16_' '2438' '12_'
 '17_' '11_' '7_' '13_' '14_' '3881' '1614' '960' '24_' '1820' '2_' '25_'
 '2080' '2801' '23_' '2072' '8_' '1_' '3_' '2508' '22_' '663_' '10_'
 '4216' '2323' '6_' '4069' '3316' '2753' '1509' '-3_' '733' '3684' '2324'
 '2056' '3107' '430' '1673' '-1_' '3539' '2560' '1989' '5_' '1263' '1718'
 '1014' '-2_' '4_' '813' '2521' '615' '21_' '538' '3099' '1850' '2697'
 '2239' '2590' '3533' '853' '3845' '1154' '4211' '450' '4042' '133' '3750'
 '88' '2529' '1841' '3632' '834' '3858' '2950' '2943' '3865' '787' '1975'
 '2334' '3155' '2148' '2737' '4281' '2671' '3864' '1177' '2666' '28_'
 '938' '2956' '3243' '4019' '3260' '3404' '3488' '2810' '2503' '1473_'
 '2705' '3253' '4053' '3827' '2276' '2587' '2278_' '26_' '2589' '2570'
 '1891' '1879' '659' '1178' '996' '662' '758_' '2585' '1884' '2222' '2954']
****************************************************************************************************
Changed_Credit_Limit
['1.63' '9.73' '8.34' ... '25.62' '-5.37' '2.2200000000000006']
****************************************************************************************************
Num_Credit_Inquiries
[  11    4    7    3    9    8   10    5    6   12    0 1497   15    1
   14    2   13   16 1442 1549   17  946  711  448 2324 1967 1127  999
 1776 1761 1668 2407 1240 2036 1709  515  113  205 1834 1807 1329 2083
  484  793  794  626 2262 1288  421 2553 2136 2207  190 2554  850 1830
 1905  692 1104 2190  186 1826 1903 1393 1566 2348  439 1230  159   64
 1196 1346 1139  743  285 1543 2328  272  469 2444 1437 2406 1833  485
  287 1726 1247 1103  655 1113 1825  623 1189  268  838 1906 1772 1475
 1545  207  585   26 1423  477  225  732  399  160 2238  761  154  884
 1793  318  615 1213  199 1758  877  309 2511 1992  107  881  185  209
 1251 2536  193  562 2241  777 2389 1540 1352 1768 2081 2208 1377  762
 2069 2457 1560 2358 2331 2047 2376   78 1940 1146 1429 1339 2213 1194
  251 2200   66 1179 1451 1588 2056 1202   31  514 2170 1816 1319 1086
 1936 2342 1531 1572 1307 1136 1804 2082 1244  528 2072 2001  716 2363
 1370 1050 1294  876   46  262 2544 1375 1876  584  858  808 2043  446
 2018 2246 1412 2446]
****************************************************************************************************
Credit_Mix
['Bad' '_' 'Good' 'Standard']
****************************************************************************************************
Outstanding_Debt
['1562.91' '202.68' '1030.2' ... '338.3' '1300.13' '1701.88']
****************************************************************************************************
Credit_Utilization_Ratio
[30.07719135 40.28699667 28.59294254 ... 32.87185347 29.02649753
 39.91665517]
****************************************************************************************************
Credit_History_Age
['10 Years and 9 Months' '31 Years and 0 Months' '15 Years and 10 Months'
 '17 Years and 10 Months' '21 Years and 5 Months' '14 Years and 3 Months'
 '20 Years and 8 Months' '30 Years and 3 Months' '22 Years and 10 Months'
 '16 Years and 3 Months' '19 Years and 9 Months' '20 Years and 0 Months'
 '26 Years and 11 Months' '10 Years and 5 Months' '31 Years and 11 Months'
 '10 Years and 0 Months' '32 Years and 3 Months' '25 Years and 2 Months'
 '14 Years and 10 Months' '28 Years and 6 Months' '16 Years and 2 Months'
 '24 Years and 11 Months' '27 Years and 6 Months' '24 Years and 4 Months'
 '16 Years and 11 Months' '30 Years and 8 Months' '14 Years and 0 Months'
 '12 Years and 0 Months' '28 Years and 5 Months' '7 Years and 9 Months'
 '21 Years and 4 Months' '18 Years and 11 Months' '20 Years and 5 Months'
 '6 Years and 6 Months' '29 Years and 11 Months' '15 Years and 9 Months'
 '21 Years and 6 Months' '27 Years and 4 Months' '18 Years and 4 Months'
 '23 Years and 10 Months' '13 Years and 4 Months' '30 Years and 2 Months'
 '12 Years and 4 Months' '7 Years and 2 Months' '25 Years and 4 Months'
 '19 Years and 11 Months' '17 Years and 1 Months' '15 Years and 3 Months'
 '1 Years and 2 Months' '20 Years and 1 Months' '14 Years and 6 Months'
 '20 Years and 6 Months' '6 Years and 11 Months' '8 Years and 10 Months'
 '23 Years and 8 Months' '27 Years and 5 Months' '30 Years and 10 Months'
 '11 Years and 10 Months' '26 Years and 5 Months' '11 Years and 6 Months'
 '12 Years and 5 Months' '11 Years and 5 Months' '18 Years and 6 Months'
 '12 Years and 2 Months' '28 Years and 3 Months' '10 Years and 10 Months'
 '8 Years and 6 Months' '20 Years and 9 Months' '23 Years and 11 Months'
 '16 Years and 5 Months' '17 Years and 2 Months' '25 Years and 8 Months'
 '32 Years and 8 Months' '7 Years and 0 Months' '23 Years and 5 Months'
 '23 Years and 9 Months' '25 Years and 3 Months' '28 Years and 11 Months'
 '12 Years and 9 Months' '17 Years and 5 Months' '11 Years and 0 Months'
 '18 Years and 10 Months' '19 Years and 10 Months' '20 Years and 2 Months'
 '25 Years and 11 Months' '19 Years and 2 Months' '33 Years and 3 Months'
 '9 Years and 0 Months' '9 Years and 5 Months' '22 Years and 8 Months'
 '28 Years and 8 Months' '22 Years and 2 Months' '15 Years and 5 Months'
 '18 Years and 2 Months' '13 Years and 9 Months' '16 Years and 10 Months'
 '32 Years and 5 Months' '18 Years and 9 Months' '2 Years and 8 Months'
 '13 Years and 8 Months' '21 Years and 2 Months' '17 Years and 3 Months'
 '16 Years and 6 Months' '5 Years and 11 Months' '8 Years and 2 Months'
 '11 Years and 3 Months' '32 Years and 0 Months' '22 Years and 11 Months'
 '5 Years and 5 Months' '9 Years and 4 Months' '6 Years and 2 Months'
 '23 Years and 3 Months' '19 Years and 8 Months' '17 Years and 8 Months'
 '24 Years and 1 Months' '1 Years and 9 Months' '10 Years and 11 Months'
 '31 Years and 5 Months' '28 Years and 2 Months' '31 Years and 3 Months'
 '27 Years and 0 Months' '1 Years and 11 Months' '19 Years and 3 Months'
 '3 Years and 11 Months' '6 Years and 5 Months' '13 Years and 3 Months'
 '22 Years and 0 Months' '30 Years and 9 Months' '29 Years and 5 Months'
 '8 Years and 8 Months' '2 Years and 5 Months' '9 Years and 9 Months'
 '13 Years and 10 Months' '24 Years and 10 Months' '8 Years and 9 Months'
 '21 Years and 3 Months' '22 Years and 3 Months' '14 Years and 2 Months'
 '9 Years and 11 Months' '13 Years and 0 Months' '20 Years and 11 Months'
 '21 Years and 0 Months' '18 Years and 1 Months' '15 Years and 4 Months'
 '8 Years and 4 Months' '29 Years and 7 Months' '19 Years and 6 Months'
 '15 Years and 6 Months' '21 Years and 7 Months' '26 Years and 0 Months'
 '33 Years and 5 Months' '11 Years and 11 Months' '33 Years and 2 Months'
 '18 Years and 5 Months' '29 Years and 8 Months' '26 Years and 4 Months'
 '31 Years and 4 Months' '16 Years and 9 Months' '14 Years and 8 Months'
 '33 Years and 4 Months' '26 Years and 9 Months' '30 Years and 4 Months'
 '9 Years and 8 Months' '31 Years and 1 Months' '11 Years and 2 Months'
 '27 Years and 10 Months' '30 Years and 1 Months' '19 Years and 4 Months'
 '8 Years and 11 Months' '24 Years and 8 Months' '33 Years and 8 Months'
 '19 Years and 5 Months' '10 Years and 3 Months' '10 Years and 4 Months'
 '9 Years and 6 Months' '33 Years and 0 Months' '25 Years and 9 Months'
 '7 Years and 3 Months' '9 Years and 10 Months' '24 Years and 6 Months'
 '32 Years and 6 Months' '23 Years and 0 Months' '21 Years and 1 Months'
 '32 Years and 7 Months' '9 Years and 2 Months' '25 Years and 10 Months'
 '31 Years and 10 Months' '7 Years and 11 Months' '17 Years and 0 Months'
 '0 Years and 11 Months' '12 Years and 10 Months' '7 Years and 10 Months'
 '24 Years and 9 Months' '6 Years and 8 Months' '15 Years and 0 Months'
 '18 Years and 3 Months' '20 Years and 3 Months' '12 Years and 6 Months'
 '4 Years and 5 Months' '6 Years and 3 Months' '32 Years and 11 Months'
 '30 Years and 5 Months' '21 Years and 10 Months' '19 Years and 0 Months'
 '17 Years and 6 Months' '9 Years and 1 Months' '29 Years and 9 Months'
 '16 Years and 0 Months' '25 Years and 6 Months' '10 Years and 2 Months'
 '12 Years and 11 Months' '30 Years and 11 Months' '17 Years and 4 Months'
 '8 Years and 3 Months' '29 Years and 0 Months' '20 Years and 4 Months'
 '16 Years and 8 Months' '29 Years and 6 Months' '24 Years and 2 Months'
 '13 Years and 5 Months' '32 Years and 2 Months' '27 Years and 2 Months'
 '30 Years and 0 Months' '4 Years and 0 Months' '16 Years and 4 Months'
 '11 Years and 8 Months' '28 Years and 9 Months' '12 Years and 8 Months'
 '7 Years and 5 Months' '32 Years and 9 Months' '31 Years and 8 Months'
 '18 Years and 8 Months' '11 Years and 9 Months' '26 Years and 8 Months'
 '5 Years and 10 Months' '29 Years and 10 Months' '31 Years and 7 Months'
 '1 Years and 10 Months' '23 Years and 6 Months' '32 Years and 4 Months'
 '7 Years and 8 Months' '14 Years and 9 Months' '27 Years and 3 Months'
 '6 Years and 10 Months' '15 Years and 11 Months' '5 Years and 9 Months'
 '8 Years and 1 Months' '1 Years and 5 Months' '22 Years and 6 Months'
 '22 Years and 9 Months' '31 Years and 9 Months' '13 Years and 11 Months'
 '2 Years and 10 Months' '6 Years and 9 Months' '20 Years and 10 Months'
 '14 Years and 4 Months' '12 Years and 3 Months' '13 Years and 7 Months'
 '2 Years and 11 Months' '21 Years and 8 Months' '13 Years and 6 Months'
 '5 Years and 8 Months' '28 Years and 0 Months' '25 Years and 0 Months'
 '5 Years and 7 Months' '28 Years and 10 Months' '3 Years and 10 Months'
 '17 Years and 9 Months' '13 Years and 2 Months' '8 Years and 0 Months'
 '6 Years and 4 Months' '29 Years and 3 Months' '26 Years and 10 Months'
 '4 Years and 11 Months' '11 Years and 4 Months' '31 Years and 2 Months'
 '22 Years and 4 Months' '25 Years and 5 Months' '32 Years and 10 Months'
 '11 Years and 7 Months' '0 Years and 9 Months' '18 Years and 0 Months'
 '10 Years and 6 Months' '4 Years and 8 Months' '27 Years and 9 Months'
 '2 Years and 3 Months' '4 Years and 10 Months' '27 Years and 11 Months'
 '28 Years and 4 Months' '31 Years and 6 Months' '29 Years and 2 Months'
 '21 Years and 11 Months' '3 Years and 8 Months' '23 Years and 2 Months'
 '25 Years and 7 Months' '24 Years and 5 Months' '5 Years and 2 Months'
 '26 Years and 2 Months' '7 Years and 6 Months' '5 Years and 0 Months'
 '18 Years and 7 Months' '26 Years and 3 Months' '2 Years and 4 Months'
 '5 Years and 6 Months' '22 Years and 5 Months' '2 Years and 2 Months'
 '20 Years and 7 Months' '8 Years and 5 Months' '28 Years and 7 Months'
 '10 Years and 8 Months' '33 Years and 1 Months' '1 Years and 7 Months'
 '21 Years and 9 Months' '15 Years and 8 Months' '14 Years and 5 Months'
 '33 Years and 7 Months' '17 Years and 11 Months' '1 Years and 3 Months'
 '23 Years and 4 Months' '24 Years and 3 Months' '7 Years and 4 Months'
 '3 Years and 6 Months' '3 Years and 7 Months' '3 Years and 4 Months'
 '24 Years and 7 Months' '5 Years and 1 Months' '15 Years and 2 Months'
 '27 Years and 8 Months' '9 Years and 3 Months' '2 Years and 0 Months'
 '8 Years and 7 Months' '32 Years and 1 Months' '4 Years and 1 Months'
 '29 Years and 4 Months' '30 Years and 6 Months' '4 Years and 2 Months'
 '6 Years and 0 Months' '6 Years and 7 Months' '4 Years and 6 Months'
 '29 Years and 1 Months' '4 Years and 3 Months' '14 Years and 11 Months'
 '30 Years and 7 Months' '24 Years and 0 Months' '1 Years and 4 Months'
 '5 Years and 3 Months' '3 Years and 9 Months' '33 Years and 6 Months'
 '6 Years and 1 Months' '3 Years and 2 Months' '26 Years and 6 Months'
 '2 Years and 6 Months' '1 Years and 0 Months' '19 Years and 1 Months'
 '10 Years and 7 Months' '4 Years and 4 Months' '19 Years and 7 Months'
 '1 Years and 8 Months' '7 Years and 1 Months' '3 Years and 0 Months'
 '4 Years and 9 Months' '2 Years and 9 Months' '3 Years and 3 Months'
 '25 Years and 1 Months' '0 Years and 8 Months' '3 Years and 5 Months'
 '1 Years and 6 Months' '27 Years and 1 Months' '22 Years and 1 Months'
 '16 Years and 1 Months' '0 Years and 10 Months' '11 Years and 1 Months'
 '13 Years and 1 Months' '12 Years and 7 Months' '5 Years and 4 Months'
 '15 Years and 1 Months' '23 Years and 1 Months' '22 Years and 7 Months'
 '23 Years and 7 Months' '26 Years and 1 Months' '16 Years and 7 Months'
 '4 Years and 7 Months' '14 Years and 1 Months' '17 Years and 7 Months'
 '27 Years and 7 Months' '2 Years and 7 Months' '10 Years and 1 Months'
 '15 Years and 7 Months' '26 Years and 7 Months' '9 Years and 7 Months'
 '12 Years and 1 Months' '28 Years and 1 Months']
****************************************************************************************************
Payment_of_Min_Amount
['Yes' 'No' 'NM']
****************************************************************************************************
Total_EMI_per_month
[ 42.94109042 108.36646713   0.         ... 126.63845331 272.80916948
 182.97664945]
****************************************************************************************************
Amount_invested_monthly
['77.31427572208112' '58.66019164829086' '617.0792665202719' ...
 '534.0885271982645' '46.42561384' '42.57571978536272']
****************************************************************************************************
Payment_Behaviour
['High_spent_Medium_value_payments' 'High_spent_Small_value_payments'
 'Low_spent_Medium_value_payments' 'Low_spent_Small_value_payments'
 '!@9#%8' 'High_spent_Large_value_payments'
 'Low_spent_Large_value_payments']
****************************************************************************************************
Monthly_Balance
['400.36080052211616' '508.01234122645366' '597.8989834797281' ...